*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
customizer/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/Plans
/plugins
/n8n
/Documentations
/ajs
/ReportBuilder
Homestead.json
Homestead.yaml
Thumbs.db
*.zip
.env.docker